/************************ color ***********************/

$color-primary: #302e4d;
$color-point: #eb1839;

/************************ breakpoints ***********************/

$breakpoints-extra-large: 1400px; 
$breakpoints-large: 1080px; 
$breakpoints-medium: 992px;
$breakpoints-small: 500px;